/* navbar and title */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/*Title Image: Just making the phone image a little narrower and rotate to right*/
.title-image {
  width: "60%";
  transform: rotate(25deg);
  position: absolute;
}

body {
  font-family: Montserrat;
}

.container-fluid {
  font-family: "Montserrat-Black", sans-serif;
  padding: 3% 25% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Features section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  /* Note that line-height creates a <p>-like buffer*/
  line-height: 1.5;
}

h2 {
  font-family: Montserrat-Bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: Montserrat-Bold;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
.carousel-item {
  padding: 7% 15%;
}

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  color: black;
  font-family: Montserrat-Bold;
  background-color: white;
  padding: 100px;
  text-align: center;
}

.ppricing {
  color: black;
}

.pricing-column {
  padding: 3% 2%;
}
